.all-buttons{
  display: grid;
  grid-template-columns: 30% 30% 30% 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1150px;
}

  
  .beginner-button {
      padding: 2rem;
      background-color: black;
      color: white;
      border-radius: 35px;
      height: 15em;
      width: 19em;
  }
  
  .intermediate-button {
    padding: 2rem;
    background-color: black;
    color: white;
    border-radius: 35px;
    height: 15em;
    width: 19em;
}

.intermediate-button {
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.advanced-button{
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.add-workout-button{
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.preset-beginner-title {
  background-color: #1A1A1A;
  padding: 0.6rem;

}

.preset-beginner-exercises {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #1A1A1A;
}

.calisthenics-workout{
  gap:1rem;
  margin-bottom: 5rem;
  border: none;
  border-radius: 50px;
  box-shadow:none;
  height: 26rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1562D;
}

.calisthenics-workout-name {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cardio-workout {
  gap:1rem;
  margin-bottom: 5rem;
  border: none;
  border-radius: 50px;
  box-shadow:none;
  height: 26rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1562D;
}

.weights-workout {
  gap:1rem;
  margin-bottom: 5rem;
  border: none;
  border-radius: 50px;
  box-shadow:none;
  height: 26rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1562D;
}

.weights-workout-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.weights-workout-name{
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.cardio-workout-name {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cardio-workout-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.cardio-workout-targets {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cardio-image {
  height: 18rem;
  width: 18rem;
  border-radius: 5rem;
}

.weight-image{
  height: 18rem;
  width: 18rem;
  border-radius: 9rem;
}

.calisthenics-image {
  height: 18rem;
  width: 18rem;
  border-radius: 9rem;
}

.calisthenics-workout-container {
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.calisthenics-workout-targets {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.workout-routine-button{
  align-content: space-between;
  margin-left: 15%;
  margin-top: 5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  border: none;
  color: white;
  display: inline-block;
  background-color: rgb(27, 27, 27);
  border-radius: 35px;
  height: 15em;
  width: 23em;
}



.start-workout-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 14rem;
}

.start-workout-button {
  padding: 1rem;
  background-color: green;
  border-radius: 10px;
  font-size: 13px;
}

body {
  background-color: #1A1A1A;
}

.exercise-to-add{
  background-color: grey;
  opacity: 0.8;
}