.all-buttons{
  display: grid;
  grid-template-columns: 30% 30% 30% 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1150px;
}

.beginner-button {
    padding: 2rem;
    background-color: black;
    color: white;
    border-radius: 35px;
    height: 15em;
    width: 19em;
}

.intermediate-button {
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.advanced-button{
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.add-workout-button{
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  height: 15em;
  width: 19em;
}

.preset-beginner-title {
  background-color: lightgray;
  padding: 0.6rem;
}

.calisthenics-workout{
  display: flex;
  justify-content: space-evenly;
  gap:1rem;
  margin-bottom: 5rem;
  border: solid 2px black;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 35, 11, 0.2);
}

.calisthenics-workout-name {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cardio-workout {
  display: flex;
  justify-content: space-evenly;
  border: solid 2px black;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 35, 11, 0.2);
  margin-bottom: 5rem;
}

.weights-workout {
  display: flex;
  justify-content: space-evenly;
  border: solid 2px black;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 35, 11, 0.2);
  margin-bottom: 5rem;
}

.weights-workout-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.weights-workout-name{
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.cardio-workout-name {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cardio-workout-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.cardio-workout-targets {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cardio-image {
  /* height:10%;
  width: 8%; */
  height: 150px;
  width: 150px;
}

.weight-image{
  height: 150px;
  width: 150px;
  border-radius: 45px;
}

.calisthenics-image {
  height: 150px;
  width: 150px;
  border-radius: 60px;
}

.calisthenics-workout-container {
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
}

.calisthenics-workout-targets {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.workout-routine-button{
  align-content: space-between;
  margin-left: 15%;
  margin-top: 5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  border: none;
  color: white;
  display: inline-block;
  background-color: rgb(27, 27, 27);
  border-radius: 35px;
  height: 15em;
  width: 23em;
}
