.all-buttons{
  background-color: #dfb1d9;
  display: grid;
  grid-template-columns: 30% 30% 30% 30%;
  margin-left: 15%;
  margin-right: 15%;
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1150px;
}

/* .beginner-button {
    padding: 2rem;
}

.-button {
    padding: 2rem;
} */