.container__button_primary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: orange;
}

.container__generic{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button__primary {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  border: none;
  color: white;
  display: inline-block;
  background-color: orangered;
  border-radius: 35px;
  height: 15em;
  width: 23em;
}

.icon {
  display:inline-block;
  height: 2em;
  width: auto;
  padding:1em;
}

.pageColor {
  height:100%;
  align-content: stretch;
  color: white;
  background-color: rgb(26,26,26);
}

.pageTitle {
  font-size:3.5em;
  padding-left: 0.5em;
}