.container__button_primary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: orange;
}

.container__generic{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button__primary {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  border: none;
  color: white;
  display: inline-block;
  /* background-color: orangered; */
  background-color: #fd6215;
  border-radius: 35px;
  height: 15em;
  width: 23em;

  transition: all .5s ease;
  text-transform: uppercase;
}
.button__primary:hover {
    color: white;
    background-color: #fda071;
}

.icon {
  display:inline-block;
  height: 2em;
  width: auto;
  padding:1em;
  transition: all .5s ease;
}

.icon:hover {
  color: black;
  background-color: #fda071;
}

.pageColor {
  height:100%;
  align-content: stretch;
  color: white;
  background-color: rgb(26,26,26);
}

.pageTitle {
  font-size:3.5em;
  padding-left: 0.5em;
}

.socialMedia{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}