.container__button_primary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: orange;
}

.button__primary {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: medium;
  border: none;
  color: white;
  display: inline-block;
  /* background-color: orangered; */
  background-color: #fd6215;
  border-radius: 35px;
  height: 15em;
  width: 23em;

  transition: all .5s ease;
  text-transform: uppercase;
}
.button__primary:hover {
    color: white;
    background-color: #fda071;
}

.pageTitle {
  font-size: 3.5em;
  padding-left: 0.5em;
}

.dropdown {
  background-color: #848484;
  border-radius: 0.5em;
  margin-left: 2em;
  height: 3em;
  width: 12em;
}

.container__graph {
  position: "relative";
  height: 34em;
  padding: 2em;
}
