.container__button_primary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: orange;
    margin-bottom: 8em;
  }

  .pageSize{
    margin-bottom: 4em;
  }

.container__generic{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
  
  .button__primary {
    cursor:pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      font-size: medium;
    border: none;
    color: white;
    display: inline-block;
    /* background-color: orangered; */
    background-color: #fd6215;
    border-radius: 35px;
    height: 15em;
    width: 23em;
    margin-top: 2em;
  }

  .save-workout-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
  }
  
  .save-workout-button {
    cursor: pointer;
    background-color: #0CA789; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
    margin-left: 2em;
  }

  .button__primary_alt {
    cursor:pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      font-size: medium;
    border: none;
    color: white;
    display: inline-block;
    background-color: rgb(105, 105, 105);
    border-radius: 35px;
    height: 15em;
    width: 23em;
     margin-top: 2em;
     cursor: pointer;

    transition: all .5s ease;
    text-transform: uppercase;
}

  .button__primary_alt:hover {
    cursor:pointer;
      color: white;
      background-color: rgb(151, 151, 151);
  }

  .pageTitle {
    font-size:3.5em;
    padding-left: 0.5em;
  }

  .weights-image2{
    height: 18rem;
    width: 18rem;
    border-radius: 9rem;
  }
