.container__navbar{
    background-color:lightgrey;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__navbar_buttons{
    padding:1.5em;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar__button{
        background-color: none; /* Green */
        color: black;
        height:2em;
        width:8em;
        border-radius: 10px;
        border-color: lightgrey;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;     
}

.navbar__title{
    font-family:fantasy;
    padding-left: 1em;
    color:rgb(175, 77, 77);
    font-size: xx-large;
    display: flex;
    flex-direction: left;
}