.beginner-current-exercise {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
}

.beginner-current-exercise-title {
  color: white;
}

.beginner-current-exercise-name {
  font-size: 24px;
  color: white;
}

.rest-timer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.timer-container {
  text-align: center;
  display: flex;
  width: 20rem;
  height: 20rem;
  border: solid 2px black;
  border-radius: 10rem;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.display-time {
  font-size: 3rem;
  padding: 2rem;
  color: white;
}
.button-primary {
  cursor: pointer;
  background-color: #0ca789; /* Green */
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 6px;
  text-align: center;
  margin-left: 2em;
}

.button-secondary {
  cursor: pointer;
  background-color: #0ca789; /* Green */
  border: none;
  color: white;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  border-radius: 6px;
  text-align: center;
  
}


.timer-button {
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  margin: 0.4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.timer-button-primary-active {
  cursor: pointer;
  background-color: #ba3f38;
  border: 1px solid #152684;
  color: white;
}

.timer-button-primary-inactive {
  cursor: pointer;
  background-color: #0d865d;
  border: 1px solid #152684;
  color: white;
}

.start-workout-page-container {
  display: flex;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
}

.record-form-title {
  display: flex;
  justify-content: center;
}

.rest-timer-title {
  display: flex;
  justify-content: center;
  color: white;
}

.cardio-data-container {
  display: flex;
  width: 15%;
  justify-content: space-around;
  flex-direction: column;
}

.cardio-data-name {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.cardio-data-targets {
  display: flex;
  padding-top: 10%;
  align-self: center;
}
.cardio-data {
  margin-top: 2.39em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  width: 26rem;
  height: 26rem;
  background-color: #f1562d;
}

.weights-data-container {
  display: flex;
  width: 15%;
  justify-content: space-around;
  flex-direction: column;
}

.weights-data-name {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.weights-data-targets {
  display: flex;
  padding-top: 10%;
  align-self: center;
}
.weights-data {
  margin-top: 2.39em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  width: 26rem;
  height: 26rem;
  background-color: #f1562d;
}

.calisthenics-data-container {
  display: flex;
  width: 15%;
  justify-content: space-around;
  flex-direction: column;
}

.calisthenics-data-name {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.calisthenics-data-targets {
  display: flex;
  align-self: center;
}
.calisthenics-data {
  margin-top: 2.39em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  width: 26rem;
  height: 26rem;
  background-color: #f1562d;
}

.review-form-name {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.record-form-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  display: flex;
}

.slider {
  width: 60%;
}
.slider-container {
  display: flex;
  justify-content: center;
}

.modal-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1000;
}

.modal-container {
  background-color: white;
  color: black;
  border-radius: 12px;
  box-shadow: black 0px 5px 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: width 0.5s ease 0.5s, height 0.5s ease;
}

.modal-title {
  display: flex;
  justify-content: center;
}

.modal-close {
  height: 20px;
}

.finish-workout-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 14rem;
}

.finish-workout-button {
  cursor: pointer;
  padding: 1rem;
  background-color: green;
  border-radius: 10px;
  font-size: 13px;
}

.container__date {
  display: flex;
}

.record-form-button {
  cursor: pointer;
  height: auto;
  color: white;
  background-color: green;
  border-radius: 10px;
  font-size: 13px;
}

.yacines-way {
  display: flex;
  flex-direction: column;
}
