.beginner-current-exercise{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 10%;
    border: solid 2px black;
    box-shadow: 1px 1px 1px 1px rgba(0, 35, 11, 0.2);
    text-align: center;
    border-radius: 20px;

}

.beginner-current-exercise-name {
    font-size: 24px;
}


